:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --primary-color: #455CC7;

  --background: #F6F6F6;
  --brand-color-blue: #4070F4;
  --brand-color-green: #2BD67B;
  --brand-color-black: #0A2156;

  --link-color: #3570BF;

  --gray-00: #FFFFFF;
  --gray-10: #E7E9ED;
  --gray-20: #CED2DB;
  --gray-30: #B6BCC9;
  --gray-40: #9EA5B8;
  --gray-50: #858FA6;
  --gray-150: #8A90BD;

  --support-1: #4070F4;
  --support-2: #2BD67B;
  --support-3: #FFAD0D;
  --support-4: #F03D3D;
  --support-5: #3C4C70;

  --shadow-color-s: #0B1F4D08;
  --shadow-s:0px 0px 4px var(--shadow-color-s);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  h2{
    font-size: 24px;
    line-height: 30px;
    color: var(--brand-color-black);

  }

  h3{
    font-size: 22px;
    line-height: 30px;
    color: var(--brand-color-black);
  }
  
  .p2{
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: var(--gray-40);
  }

  .p22{
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: var(--brand-color-black);
  }

  .p3{
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: var(--support-5);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: CircularStd, Arial, Helvetica, sans-serif;
  .container{padding: 0 6rem;}
}

body {
  color: rgb(var(--brand-color-black));
  background: var(--background)
}

a {
  color: inherit;
  text-decoration: none;
}
