.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25.5px 60px;
    background-color: var(--gray-00);
}

.actions{
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--support-5);
}

.actions img{
    cursor: pointer;
}

.division{
    width: 1px;
    height: 29px;
    background-color: var(--gray-10);
}

.login{
    display: flex;
    align-items: center;
    color: var(--brand-color-blue);
    cursor: pointer;
    gap: 4px;
    font-weight: bold;
}

.shopCart{
    position: relative;
}